.navbar{
    font-size: 1.1rem;
    background-color: white;
    display: flex ;
    justify-content: space-around;
    padding-top:23px ;
    padding-bottom:23px ;
}
.navbar-collapse{
    width: 75%;
    display: flex;
    justify-content: flex-end;
}
.navbar-nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.item-link{
    cursor: pointer;
    font-weight: 500;
}
.item-link:hover{
    color: #009DFF;
}