<nav class="navbar">
    <div class="navbar-logo">
        <h4>LOGO</h4>
    </div>
    <div class="navbar-collapse">
        <ul class="navbar-nav">
            <li class="item-link" routerLink="/home">Home</li>
            <li class="item-link">About</li>
            <li class="item-link">Blog</li>
            <li class="item-link">Contact</li>
            <li class="item-link" routerLink="/bookingCard"><button class="booking-btn">Your Reservations</button></li>
        </ul>
    </div>
</nav>